name: "Run linting"
permissions:
  contents: write


on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        # assume ruff is in the dev dependencies, else you can add with
        # uv add --dev ruff
        uv sync --dev --locked

    - name: Ruff check
      run: uv run ruff check . --fix

    - name: Ruff format
      run: uv run ruff format .

    - name: Commit changes
      if: github.ref_type == 'branch'
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git diff --cached --quiet || git commit -m "Auto-format code with ruff"
    - name: Push changes
      run: git push origin HEAD:${{ github.head_ref }}
